.popover-content {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 1050;
  padding: 0.5rem 0.75rem;
}

.popover-arrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.175);
  border-top: 1px solid rgba(0, 0, 0, 0.175);
  transform: rotate(45deg);
}

/* bottom */
.popover-content.bottom .popover-arrow {
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/* top */
.popover-content.top .popover-arrow {
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.popover-content.bottom .popover-arrow {
  // top: -6px;
  top: -9px;
}

.popover-content.bottom-start .popover-arrow {
  // top: -6px;
  top: -9px;
  left: 12px;
}

.popover-content.bottom-end .popover-arrow {
  top: -9px;
  right: 12px;
}

.popover-content.top .popover-arrow {
  bottom: -9px;
}

.popover-content.top-start .popover-arrow {
  bottom: -9px;
  left: 12px;
}

.popover-content.top-end .popover-arrow {
  bottom: -9px;
  right: 12px;
}


