@use "../../assets/styles/_variables" as *;

$borderValue: 0.0625rem;

.input-field {
  display: inline-block;
  width: 100%;

  &.primary input:focus {
    border: $borderValue solid var(--btn-primary);
  }
  &.ghost input:focus {
    border: $borderValue solid var(--text-primary);
  }
  &.underlined input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: inherit;
    border-bottom: 0.0938rem solid var(--border);
    padding-left: 0;
    padding-right: 0;
    &.error {
      border-color: var(--error);
    }
  }
  &.underlined input + label {
    left: 0;
  }
  &.has-prefix input {
    padding-left: 3.125rem;
  }
  &.has-suffix input {
    padding-right: 3.125rem;
  }
  &.error input {
    border-color: var(--error);
  }
  &.floating {
    input {
      // height: 3.75rem;
      height: 58px;
      padding: 0.9375rem 15px 0 15px;
    }
  }

  &__input-wrapper {
    position: relative;
    display: inline-block;
    letter-spacing: -0.0437rem;
    width: inherit;

    input {
      width: inherit;
      height: 2.625rem;
      padding: 8px 16px;
      border: 0.0938rem solid var(--border);
      border-radius: 0.25rem;
      font-size: 1rem;
      color: var(--text-primary);
      font-family: var(--font-family);
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: $borderValue solid var(--btn-primary);
        & + label {
          top: 0.3125rem;
          transform: none;
          font-size: 0.75rem;
          letter-spacing: -0.0219rem;
        }
      }
    }

    textarea {
      width: inherit;
      border: 0.0938rem solid var(--border);
      border-radius: 0.25rem;
      font-size: 1.125rem;
      color: var(--text-primary);
      font-family: var(--font-family);
      padding: 1.25rem 15px 0 15px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: $borderValue solid var(--btn-primary);
        & + label {
          top: 0.3125rem;
          transform: none;
          font-size: 0.75rem;
          letter-spacing: -0.0219rem;
        }
      }
    }

    label {
      position: absolute;
      left: 0.9375rem;
      top: 50%;
      transform: translateY(-50%);
      font-family: var(--font-family);
      color: var(--text-secondary);
      font-size: 1rem;
      transition: all 0.2s ease-out;
      cursor: inherit;
      letter-spacing: -0.0437rem;
      &.has-value {
        top: 0.3125rem;
        left: 15px;
        transform: none !important;
        -webkit-transform: none !important;
        letter-spacing: -0.0219rem;
        transform: scale(0.66);
        font-size: 0.75rem;
      }
      &.has-prefix {
        left: 3.125rem;
      }
      &.error {
        color: var(--error);
      }
    }
  }
  .hide-label {
    opacity: 0;
    transform: translateY(-50%) scale(0.98);
  }
  .message {
    font-size: 0.875rem;
    color: var(--text-secondary);
    font-family: var(--font-family);
    display: block;
    margin-top: 0.3125rem;
    letter-spacing: -0.0406rem;
    &.error {
      color: var(--error);
      text-overflow: ellipsis;
    }
  }

  .prefix-icon {
    position: absolute;
    left: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.125rem;
    height: 1.125rem;
    object-fit: contain;
  }

  .suffix-icon {
    position: absolute;
    right: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.125rem;
    height: 1.125rem;
    object-fit: contain;
  }
}

// Calendar style
.custom-calendar {
  position: absolute;
  background: var(--white);
  border: 1px solid var(--border);
  padding: 10px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 260px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;

  button {
    padding: 5px;
    border: none;
    background: var(--white);
    cursor: pointer;

    &:hover {
      background: var(--btn-primary);
      color: var(--white);
    }
  }
}

.calendar-close {
  margin-top: 10px;
  background: #eee;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.calendar-grid button.selected {
  background-color: var(--btn-primary);
  color: var(--white);
  font-weight: bold;
}

.close-and-clear {
  display: flex;
  gap: 10px;
}

.calendar-grid button.disabled {
  color: var(--btn-disable);
  opacity: 0.8;
  cursor: not-allowed;
}
