@use '../../style/fonts';
@use '../../style/colors';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  color: colors.$white-color;
  border: none;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  height: auto; /* or auto if dynamic */
  min-width: 6.25rem;
  cursor: pointer;

  &.primary {
    background-color: colors.$btn-primary-color;
  }
  &.secondary {
    background-color: transparent;
    border: 1px solid colors.$btn-primary-color;
    color: colors.$btn-primary-color;
  }
  &.disabled {
    opacity: unset;
    color: colors.$white-color;
    border: 1px solid colors.$btn-disable-color;
    background-color: colors.$btn-disable-color;
    cursor: no-drop;
  }
  &.link {
    color: colors.$link-primary-color;
  }
}
