.tabs-container {
  display: flex;
  background: #f1f1f3;
  border-radius: 999px;
  padding: 4px;
  gap: 4px;

  &.normal {
    background: transparent;
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--grey);

    .tab-btn {
      border-radius: 0;
      border-bottom: 1px solid transparent;

      &.active {
        background: transparent;
        border-bottom: 2px solid var(--primary);
        box-shadow: none
      }
    }
  }
  .tab-btn {
    flex: 1;
    padding: 10px 0;
    border-radius: 999px;
    border: none;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-primary);
  }

  .tab-btn.active {
    background: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    font-weight: 600;
  }

  .tabs-content {
    margin-top: 16px;
  }
}
