@use 'sass:map';
@use '../../assets/styles/_variables' as var;

$sizes: (
  sm: (
    scale: 0.5,
  ),
  md: (
    scale: 0.9,
  ),
  lg: (
    scale: 1.5,
  ),
);

@mixin ellipsis-loader($size-name) {
  $size: map.get($sizes, $size-name);
  $scale: map.get($size, scale);

  .ldsEllipsis.#{$size-name} {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 14px;
    transform: scale($scale);
    opacity: 0.8;

    span {
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 8px;
        animation: ldsEllipsis1 0.6s infinite;
      }

      &:nth-child(2) {
        left: 8px;
        animation: ldsEllipsis2 0.6s infinite;
      }

      &:nth-child(3) {
        left: 8px * 4;
        animation: ldsEllipsis2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 8px * 7;
        animation: ldsEllipsis3 0.6s infinite;
      }
    }
    &.primary span {
      background-color: var.$btn-primary;
    }
    &.dark span {
      background-color: var.$black;
    }
    &.grey span {
      background-color: var.$border;
    }
    &.white span {
      background-color: var.$white;
    }
    &.success span {
      background-color: var.$success;
    }
    &.warning span {
      background-color: var.$error;
    }
  }
}

@include ellipsis-loader(sm);
@include ellipsis-loader(md);
@include ellipsis-loader(lg);

@keyframes ldsEllipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ldsEllipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes ldsEllipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
