$btn-primary-color: var(--btn-primary-color, #28a9c3);
$btn-secondary-color: var(--btn-secondary-color, #d6ebef);
$btn-disable-color: var(--btn-disable-color, #cccccc);
$border-color: var(--border-color, #cccccc);
$hover-color: var(--hover-color, #308090);
$white-color: var(--white-color, #ffffff);
$black-color: var(--black-color, #000000);
$bg-color: var(--bg-color, #eff7f9);
$text-primary-color: var(--text-primary-color, #000000);
$text-secondary-color: var(--text-secondary-color, #666666);
$link-primary-color: var(--link-primary-color, #4259e0);
$link-secondary-color: var(--link-secondary-color, #212121);
$success-color: var(--success-color, #5dbc4a);
$warning-color: var(--warning-color, #e09e42);
$error-color: var(--error-color, #e22c1c);
$neutral_1: var(--neutral_1, #e8f0f2);
