/* :root {
  --primary: #28a9c3;
  --secondary: #d6ebef;
  --neutral: #e8f0f2;
  --hover: #308090;
  --white: #ffffff;
  --black: #000000;
  --bg: #eff7f9;
  --text-primary: #000000;
  --text-secondary: #666666;
  --link: #4259e0;
  --success: #5dbc4a;
  --warning: #e09e42;
  --error: #e22c1c;
  --btn-primary: #28a9c3;
  --btn-disable: #cccccc;
  --border: #e4e4e4;
} */