@use "../../assets/styles/_variables" as var;

.table-wrapper {
  @include var.breakpoint(max, md) {
    display: block;
    overflow-x: auto;
    font-size: 0.875rem;
  }

  .table {
    border-color: var.$border;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    tr {
      td {
        cursor: pointer;
        color: var.$text-secondary;
      }
      // &:nth-child(even) {
      //   background-color: var.$white;
      // }
      &:hover {
        td {
          background: var.$neutral;
          font-weight: var.$font-bold;
          color: var.$text-primary;
        }
      }
      &.active {
        td {
          background: var.$btn-secondary;
          color: var.$white;
        }
      }
    }
    thead {
      background-color: var.$btn-secondary;
      font-family: var.$font-bold;
      tr {
        border: 1px solid var.$border;
      }
      th {
        border: 1px solid var.$border;
      }
      tr,
      th {
        text-align: justify;
        padding: 14px 20px;
        color: var.$text-primary;
        border-color: var.$border;
        border-collapse: collapse;
        border-spacing: 0;

        &:last-child {
          cursor: default;
        }
        img {
          cursor: pointer;
        }
      }
      .sorting {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.625rem;
      }
    }
    tbody {
      font-family: var.$font-regular;
      tr {
        border: 1px solid var.$border;
      }
      td {
        border: 1px solid var.$border;
      }
      td {
        padding: 0.875rem 1.25rem;
        border-color: var.$border;
        border-collapse: collapse;
        border-spacing: 0;
      }
      .actions {
        width: 5rem;
        text-align: center;
        user-select: none;
        img {
          padding: 0 0.3125rem;
        }
        &-items {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
        }
      }
    }
    &.outer-border-less {
      thead {
        tr {
          border: none;
        }
        th {
          border: none;
        }
      }
      tbody {
        tr {
          border: 1px solid var.$border;
          border-left: none;
          border-right: none;
          &:first-child {
            border-top: none;
          }
          &:last-child {
            border-bottom: none;
          }
        }
        td {
          border: none;
        }
      }
    }
  }
}
