@use "../../assets/styles/_variables" as var;

.table-wrapper {
  
  @include var.breakpoint(max, md) {
    display: block;
    overflow-x: auto;
  }

  .table {
    border-color: var.$border;
    border: 1px solid var.$border;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      td {
        cursor: pointer;
      }
      // &:nth-child(even) {
      //   background-color: colors.$off-white;
      // }
      &:hover {
        td {
          background: var.$neutral;
          font-weight: var.$font-bold;
          color: var.$text-primary;
        }
      }
      &.active {
        td {
          background: var.$btn-secondary;
          color: var.$white;
        }
      }
    }
    tr {
      border-color: var.$border;
      border: 1px solid var.$border;
      border-collapse: collapse;
      border-spacing: 0;
    }
    td {
      border-color: var.$border;
      border: 1px solid var.$border;
      border-collapse: collapse;
      border-spacing: 0;
    }
    th {
      border-color: var.$border;
      border: 1px solid var.$border;
      border-collapse: collapse;
      border-spacing: 0;
    }
    .actions {
      width: 80px;
      text-align: center;
      span {
        padding: 0 5px;
      }
    }
  }
  .pagination {
    padding: 20px 2px;
    &.right {
      float: right;
    }
  }
  thead {
    background-color: var.$btn-secondary;
    font-size: 14px;
    tr,
    th {
      text-align: justify;
      padding: 14px 20px;
      &:last-child {
        cursor: default;
      }
      img {
        cursor: pointer;
      }
    }
  }
  tbody {
    td {
      padding: 14px 20px;
    }
  }
  th {
    font-size: 14px;
    font-weight: 600;
    font-family: Inter;

    .sorting {
      display: flex;
      justify-content: baseline;
      align-items: flex-start;
      gap: 10px;
    }
  }
}
